[Unit]
Description=Create the DH2048 group for postfix
ConditionPathExists=!/etc/pki/dovecot/private/postfix.dh.param

[Service]
Type=simple
ExecStart=/usr/libexec/nethserver/postfix-create-DH2048
