[Unit]
Description=imapsync for %i

[Service]
EnvironmentFile=/var/lib/nethserver/imapsync/%i.env
StandardOutput=null
User=vmail
Type=simple
ExecStart=/usr/bin/imapsync --noauthmd5 --noreleasecheck --allowsizemismatch \
--skipsize --nofoldersizes ${DELETE} ${DELETEFOLDERS} --fast --fastio1 --fastio2 --buffersize 8192000 \
--host2 localhost --port2 143 --tls2 --user2 ${LOCALUSER}*vmail \
--passfile2 /var/lib/nethserver/imapsync/vmail.pwd \
--host1 ${REMOTEHOSTNAME} --port1 ${REMOTEPORT} ${SECURITY} --user1 ${REMOTEUSERNAME} \
--passfile1 /var/lib/nethserver/imapsync/%i.pwd \
--exclude '^Trash|^Deleted Items|^Public|^Shared${EXCLUDE}' \
--logdir /var/log/imapsync
