[Unit]
Description=imapsync for %i

[Service]
EnvironmentFile=/var/lib/nethserver/imapsync/%i
User=vmail
Type=simple
ExecStart=/usr/bin/imapsync --noauthmd5 --noreleasecheck --allowsizemismatch \
--skipsize --nofoldersizes --fast --fastio1 --fastio2 --buffersize 8192000 \
--host2 localhost --port2 143 --tls2 --user2 ${LOCALUSER}*vmail \
--passfile2 /var/lib/nethserver/imapsync/secrets/vmail ${DELETE}\
--host1 ${REMOTEHOSTNAME} --port1 ${REMOTEPORT} ${SECURITY} --user1 ${REMOTEUSERNAME} \
--passfile1 /var/lib/nethserver/imapsync/secrets/%i \
--exclude 'Public Folders' --exclude 'Trash' --exclude 'Deleted Items' \
--logdir /var/log/imapsync
