[Unit]
Description = clamd scanner (rspamd) daemon
After = syslog.target nss-lookup.target network.target

[Service]
Type = forking
ExecStart = /usr/sbin/clamd -c /etc/clamd.d/rspamd.conf
Restart = on-failure
User=_rspamd
Group=mail
RuntimeDirectory=clamd@rspamd
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
